.list {
    list-style: none;
    display: flex;
    gap: 20px;
    li {
        padding: 20px;
        border: 1px solid black;
        a {
            text-decoration: none;
            color: steelblue;
        }
    }
}