.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        inline-size: 150px;
    }

    &__menu {
        display: flex;
        gap: 10px;
    }
}
